<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{#if title}} {{ title }} {{else}} {{ name }} {{/if}}</title>
        <link rel="stylesheet" href="/assets/css/app.css?v={{version}}" type="text/css"/>

        {{#> head-block}}
            {{!-- Custom <head> content per page could be added. --}}
        {{/head-block}}
    </head>
    <body>
        <main>
